body {
		background-color: #3d3636;
		font-family: arial;
		color: white;
	}
	h1 {
		text-align: center;
		font-family: arial;
	}

	form {
		text-align: center;
	}
	
    label {
    	margin: 7px;
    	padding: 10px;
    }
    input {
    	margin: 5px;
    	padding: 10px;
    }
    textarea {
    	width: 600px;
    	height: 200px;
    	margin: 7px;
    }
    input[type="submit"] {
	background-color: #a8518a;
	color: white;
	cursor: pointer;
	}
	input[type="submit"]:hover {
		color: #3d3636;
	}